<main>
    <form id="student-form" action="/students" method="POST">
        <p>
            <% if(params.errors) {
            <%= params.errors[0]; %>
            <% } %>
        </p>
        <%- partial('form', {student: {}}) %>
        <p>
            <%- contentTag('input', 'Подтвердить', {type: 'submit'}) %>
        </p>
    </form>
</main>