<main>
    <form id="student-form" action="/students/<%= params.id %>?_method=PUT" method="POST">
        <p>
            <% if(params.errors) {
            <%= params.errors[0]; %>
            <% } %>
        </p>
        <%- partial('form', {student: student}) %>
        <p>
            <%- contentTag('input', 'Редактировать', {type: 'submit'}) %>
        </p>

        <p>
            <%- contentTag('button', 'Удалить', {type: 'submit', formaction: '/students/' + params.id + '?_method=DELETE', formmethod: 'POST'}) %>
        </p>
    </form>
</main>