<p>
    <label for="name">Имя</label>
    <%- contentTag('input', student.name, {type: 'text', name: 'name'}) %>
</p>
<p>
    <label for="surname">Фамилия</label>
    <%- contentTag('input', student.surname, {type: 'text', name: 'surname'}) %>
</p>