<main>
    <% if (students) {
            for (var student = 0; student < students.length; student++) { %>
    <article id="student-<%= students[student].id; %>">
        <h1><%- linkTo(students[student].name + ' ' + students[student].surname, studentPath(students[student].id)); %></h1>
    </article>
    <% } } %>
</main>

<script type="text/javascript">
    $(function () {
        geddy.io.addListenersForModels(['Student']);
        var renderTemplate = function (student) {
            var template = ['<article id="student-'
                    + student.id
                    + '"><h1><a href="/students/'
                    + student.id
                    + '">'
                    + student.name
                    + ' '
                    + student.surname
                    + '</a></h1></article>'
            ].join('');
            return $(template);
        };
        var StudentsController = function (opts) {
            this.options = opts || {};
            this.create = function (student) {
                $('#students-list').append(renderTemplate(student));
            };
            this.update = function (student) {
                $('#student-' + student.id).replaceWith(renderTemplate(student));
            };
            this.remove = function (id) {
                $('#student-' + id).remove();
            };
        };
        geddy.Students = new StudentsController();
        geddy.model.Student.on('Сохранить', geddy.Students.create);
        geddy.model.Student.on('Редактировать', geddy.Students.update);
        geddy.model.Student.on('Удалить', geddy.Students.remove);
    });
</script>
