<main>
    <article>
        <h1>
            <%= student.name %> <%= student.surname %>
        </h1>

        <p>
            <%- linkTo('Редактировать', editStudentPath(params.id)); %>
        </p>
    </article>
</main>