@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria.eot');
    src: url('../fonts/geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria.woff') format('woff'), url('../fonts/geometria.ttf') format('truetype'), url('../fonts/geometria.svg#geometria') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #1a1a1a;
    font: normal normal normal 16px/20px Geometria, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 1px;
}