<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WallMART</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location = "http://www.google.com/chrome";
    </script>
    <![endif]-->
    <%- scriptLink('jquery.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('core/core.js', {type: 'text/javascript'}) %>
    <%- scriptLink('core/models.js', {type: 'text/javascript'}) %>
    <%- styleLink('reset.css', {rel: 'stylesheet'}) %>
    <%- styleLink('style.css', {rel: 'stylesheet'}) %>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><%- linkTo('Список', studentPath('')) %></li>
            <li><%- linkTo('Создать', addStudentPath); %></li>
        </ul>
    </nav>
</header>
<%- displayFlash(flash); %>
<%- render(); %>
</body>
<footer>© WallMART</footer>
</html>